@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
:root {
  --modal-duration: 1s;
  --primary-color: #1b5e20;
  --secondary-color: #43a047;
  --border-black: rgba(200, 200, 200, .1);
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

body.show-nav {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

nav {
  background-color: var(--primary-color);
  border-right: 2px solid var(--border-black);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  border-bottom: 2px solid var(--border-black);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 2px solid var(--border-black);
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

header p {
  margin: 30px 0;
}

header .toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;
}

header .cta-button {
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: var(--white);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  -webkit-animation: modalopen var(--modal-duration);
          animation: modalopen var(--modal-duration);
}

.modal .close-button {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.modal .modal-header {
  background: var(--primary-color);
  color: var(--white);
  padding: 15px;
}

.modal .modal-header h3 {
  border-bottom: 1px solid #333;
}

.modal .modal-content {
  padding: 20px;
}

.modal .modal-content .modal-form .form-control {
  margin: 15px 0;
}

.modal .modal-content .modal-form .form-control label {
  display: block;
  margin-bottom: 5px;
}

.modal .modal-content .modal-form .form-control .form-input {
  padding: 8px;
  width: 100%;
}

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
